.filterGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: clamp(1rem, 5vw, 96px);
    padding-block: clamp(1rem, 2vw, 1.5rem);
    border-bottom: 1px solid #e5e7eb;
    transition: padding-inline 0.3s ease-in-out;
}

.filterTab {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}



.filterShowHideButton {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 500;
    color: #888792;
    text-transform: uppercase;
    font-family: var(--font-roboto);
}

.filterRecommended {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.filterMobileTab {
    text-align: center;
    width: 100%;
    border-right: 2px solid #e5e7eb;
    transition: all 0.3s ease-in-out;

    & h3 {

        text-transform: uppercase;
        font-family: var(--font-roboto);

        &:hover {
            cursor: pointer;
        }
    }
}


@media (min-width: 768px) {
    .filterGrid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding-inline: 0;
    }

    .filterMobileTab {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    .filterTab {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    .filterRecommended {
        width: max-content;
    }
}