.header {
    max-width: 100%;
    padding-inline: clamp(1rem, 5vw, 96px);
    border-bottom: 1.5px solid #e5e7eb;
    z-index: 1000;
    text-align: center;
    background-color: white;
}

.navMenu:hover {
    cursor: pointer;
}

.mobile {
    display: block;
}

.logoImage {
    display: none;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    align-items: center;
    padding-block: clamp(1rem, 5vw, 40px);
}

.logoContainer {
    justify-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    font-style: normal;
    font-weight: 800;
    font-size: clamp(20px, 5vw, 36px);
    line-height: 100%;
    letter-spacing: 1px;
    color: #000000;
    display: block;
}

.actions {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-self: flex-end;
    width: fit-content;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.actions *:hover {
    cursor: pointer;
}


.icon {
    width: 20px;
}

.remove {
    display: none;
}

@media (min-width: 786px) {
    .icon {
        width: 24px;
    }
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    .logoImage {
        display: block;
    }

    .remove {
        display: block;
    }
}