.header {
    position: sticky;
    top: 0;
    max-width: 100%;
    padding-inline: clamp(1rem, 5vw, 96px);
    border-bottom: 2px solid #e5e7eb;
    z-index: 1000;
    text-align: center;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    align-items: center;
    padding: 40px 0;
}

.logoContainer {
    justify-self: flex-start;
}


.logo {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #000000;
    display: block;
}

.actions {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-self: flex-end;
    width: fit-content;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.actions *:hover {
    transform: scale(1.2);
    cursor: pointer;
}