.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    overflow: hidden;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 5px;
}

.productTitle {
    text-transform: uppercase;
}

.context {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-Roboto);
}

.productImage {
    margin-top: 10px;
    margin-inline: auto;
}

.favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;

    & img {
        width: 16px;
    }
}

.favorite:hover {
    transform: scale(1.1);
}



@media (min-width: 768px) {
    .favorite {
        width: 24px;
    }
}